// keyframes
@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeSlideInUp {
  0% {
    opacity: 0;
    transform: translateY(20%);
  }

  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

@keyframes rainbow {
  0% {
    background: #acbf2c;
  }

  35% {
    background: #dad134;
  }

  70% {
    background: #ffc336;
  }

  100% {
    background: #f57329;
  }
}

// animation classes

.fadeIn-anim_ {
  animation: 300ms fadeIn;
}
