@mixin tbl-center($width: 100%, $vAlign: middle, $txtAlign: center) {
  display: table;
  width: $width;

  > * {
    display: table-cell;
    vertical-align: $vAlign;
    text-align: $txtAlign;
  }
}

@mixin transition($property: all, $duration: 300ms, $animation: ease-in-out) {
  transition: $property $duration $animation;
}

@mixin icomoon() {
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
