.card {
  border-bottom: 2px solid #eeeeee;
  animation: fadeSlideInUp 0.5s ease-out;

  &:hover {
    .card-title {
      color: $theme-color;
    }
  }

  &-inner {
    padding: 30px 0;
    @include tbl-center();
  }

  &-info {
    color: #313131;
    text-align: left;
    letter-spacing: 1px;
  }

  &-title {
    font-size: 20px;
    color: black;
    text-transform: capitalize;
  }

  &-excerpt {
    margin: 10px 0;
    color: #838383;
    font-size: 16px;
  }

  &-date {
    color: #747474;
  }

  &-img {
    width: 200px;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
  }
}


@media (min-width: 576px) {
  .card {
    &-inner {
      padding: 60px 0;
    }
    &-title {
      font-size: 26px;
    }
    &-excerpt {
      margin: 20px 0;
    }
  }
}
