[type="radio"] {
  display: none;
}

.radio-field, label {
  cursor: pointer;
}

label .radio-btn {
  position: relative;
  margin-right: 5px;
}
label .radio-btn:before,
label .radio-btn:after {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

label span {
  display: inline-block;
  vertical-align: middle;
}

label .radio-btn {
  background: $theme-color;
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  transition: all .2s ease-in-out;
}

label .radio-btn:before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background: white;
  border-radius: 50%;
  transition: all .2s;
}

label .radio-btn:after {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, .5);
  border-radius: 50%;
  transform: scale(0);
}

.radio:checked + label .radio-btn:after {
  background: transparent;
  transition: all .5s;
  transform: scale(1);
}

.radio {
  & + label .radio-btn {
    animation-delay: 0s;
  }
}

.radio {
  & + label .radio-btn:before {
    transform: scale(0);
  }
}

.radio {
  &:checked + label .radio-btn:before {
    transform: scale(1);
    transition: all .4s;
  }
}
