@mixin custom-font($name, $filename) {
    font-family: $name;
    font-weight: normal;
    font-style: normal;
    src: url('../../../static/assets/fonts/#{$filename}.ttf') format('truetype');
    // src: url('../../../static/assets/fonts/#{$filename}.eot') format('embedded-opentype'),
        //  url('../../../static/assets/fonts/#{$filename}.ttf') format('truetype'),
        //  url('../../../static/assets/fonts/#{$filename}.woff') format('woff'),
        //  url('../../../static/assets/fonts/#{$filename}.svg') format('svg');
}

@mixin font($weight: '') {
	font-family: 'Roboto #{$weight}', sans-serif;
}

// fonts
@font-face {
	@include custom-font('Roboto Regular', 'Roboto-Regular');
}


h1 {
	@include font('Regular');

	margin: 0;
	font-weight: 300;
	font-size: 24px;
  line-height: 125%;

	@media (min-width: 576px) {
		font-size: 30px;
	}

	@media (min-width: 786px) {
		font-size: 36px;
	}
}

h2 {
	@include font('Regular');

	margin: 0;
	font-weight: 300;
	font-size: 22px;
	line-height: 100%;

	@media (min-width: 576px) {
		font-size: 28px;
	}

	@media (min-width: 786px) {
		font-size: 34px;
	}
}

h3 {
	margin: 0;
	@include font('Regular');
	line-height: 120%;
	font-size: 18px;
	font-weight: 100;

	@media (min-width: 576px) {
		font-size: 26px;
	}

	@media (min-width: 786px) {
		font-size: 30px;
	}
}

h4 {
	margin: 0;
	@include font('Regular');
	line-height: 120%;
	font-size: 16px;
}

h5 {
	@include font('Regular');
	line-height: 120%;
	font-size: 16px;
}

h6 {
	@include font('Regular');

	font-size: 14px;
	line-height: 110%;
}

p {
	@include font('Regular');

	font-size: 17px;
	line-height: 25px;
	margin: 0;

	@media (max-width: 576px) {
		font-size: 15px;
	}
}

p.small {
	@include font('Regular');

	font-size: 15px;
	line-height: 140%;
}

a {
	@include font('Regular');
	color: $theme-color;
	outline: none;
	&:focus {
		outline: none;
	}
	text-decoration: none !important;
	&:hover {
		color: $theme-color-hover;
	}
}

label {
	font-size: 13px;
}
