@font-face {
  font-family: 'icomoon';
  src:  url('../../../static/assets/fonts/icomoon/icomoon.eot');
  src:  url('../../../static/assets/fonts/icomoon/icomoon.eot') format('embedded-opentype'),
        url('../../../static/assets/fonts/icomoon/icomoon.ttf') format('truetype'),
        url('../../../static/assets/fonts/icomoon/icomoon.woff') format('woff'),
        url('../../../static/assets/fonts/icomoon/icomoon.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  @include icomoon();
}

.icon-search:before {
  content: "\e90c";
}
.icon-close:before {
  content: "\e917";
}
