@import './variables';
@import './fonts';

// defaults
body {
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-feature-settings: 'liga' on;
	-moz-font-feature-settings: 'liga' on;
	word-break: break-word;

	// color: $theme-color;
	margin: 0;
}

input, textarea {
	background-color: transparent;
	border: none;
	border-bottom: 1px solid rgba(204, 204, 204, 0.94);
	// border-bottom: 1px solid rgba(239, 239, 239, 0.4);
	outline: none;
	// color: white;
	font-family: 'Roboto', sans-serif;
	padding: 10px;
	width: 100%;
	transition: all 300ms ease-out;

	&::placeholder {
		// color: white;
		opacity: 0.9;
	}

	&:focus {
		border-bottom: 1px solid $theme-color;

		&::placeholder {
			opacity: 0.7;
		}
	}
}

textarea {
	resize: none;
}

button, input[type=button], input[type=submit] {
	border: none;
	outline: none;
	cursor: pointer;
	width: auto;
	font-family: 'Roboto', sans-serif;
	border-radius: 4px;

	&:focus, &:active, &:hover {
		background-color: $theme-color-hover;
	}
}

a {
	color: $theme-color;

	&:focus, &:active, &:hover {
		color: $theme-color-hover;
	}
}

img {
	max-width: 100%;
}

ul {
	padding-left: 15px;
}

li {
	list-style-type: none;
	margin: 5px 0;
}

table, table#users-list-table {
	border-collapse: collapse !important;
}

td, th {
	padding: 5px;
	transition: all 300ms ease-out;
	border: 1px solid $grey;

	&:hover {
		background-color: $white-shade-1;
	}
}

// custom classes

.trans {
  @include transition();
}

.txt-al-l {
	text-align: left;
}

.txt-al-c {
	text-align: center;
}

.txt-al-r {
	text-align: right;
}

.custom-scrollbar {

	::-webkit-scrollbar {
		width: 7px;
		height: 4px;
	}

	::-webkit-scrollbar-track {
		background-color: transparent;
	}

	::-webkit-scrollbar-track:horizontal {
		background-color: transparent;
	}

	::-webkit-scrollbar-thumb {
		background-color: rgba(0,0,0,0.25);
		border-radius: 4px;
		&:hover {
			background-color: rgba(0,0,0,0.3);
		}

		&:active {
			background-color: rgba(0,0,0,0.4);
		}
	}
}

.page-load-in_ {
  animation: fadeIn 1s ease-in-out;
}

