@import 'base/bootstrap-loader';
@import 'helpers/mixins';
@import 'theme/styles';
@import 'theme/site-basics';
@import 'site-components/custom-radio';
@import 'site-components/card';

body {
  overflow-y: scroll;
}

input, button, .btn, select {
  outline: none;
  border-radius: 25px;
  padding: 10px 20px;
  background-color: white;

  &:focus {
    border: 1px solid $theme-color;
    box-shadow: 0px 5px 30px -5px $theme-color;
  }
}

input {
  &[disabled] ~ label {
    opacity: 0.7;
    cursor: default;
  }

  &[type="search"] {
    &::-webkit-search-decoration,
    &::-webkit-search-cancel-button,
    &::-webkit-search-results-button,
    &::-webkit-search-results-decoration {
      display: none;
    }
  }
}

button, .btn {
  display: inline-block;
  cursor: pointer;
  background-color: $theme-color;
  color: white;
  box-shadow: 0px 5px 30px -5px $theme-color;
}

.main-loader {
  position: fixed;
  top: 0;
  width: 100%;
  height: 4px;
  background: $theme-color;
  display: none;
  &.animate {
    display: block;
    animation: rainbow 1s ease-in infinite;
  }
}

nav {
  padding: 15px 0;
  background: $white-shade-1;
}

.logo {
  img {
    height: 50px;
  }
}

.inp-btns {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
  margin-top: 7px;
  margin-right: 8px;
}

.inp-btn {
  position: relative;
  white-space: nowrap;
  line-height: 100%;
  box-shadow: none;
  opacity: 0;
  border-radius: 50px;
  will-change: box-shadow, opacity, transform;
  transform: scale(0.6);

  &:hover, &:active, &:focus {
    background-color: $theme-color;
    color: white;
    border: none;
    box-shadow: 0px 5px 30px -5px $theme-color;
  }
}

.clear-btn {
  z-index: -1;
  padding: 8px 9px;
  margin-right: 7px;
}

.search-section {
  background: $white-shade-1;
  padding-bottom: 50px;
}

.search {
  &-wrpr {
    position: relative;
    max-width: 500px;
    margin: 15px auto;
    margin-bottom: 30px;
  }
  &-label {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;
  }
  &-inp {
    background-color: white;
    border: 1px solid $white-shade-2;
    border-radius: 50px;
    padding: 10px 16px;
    font-size: 16px;
  }
  &-btn {
    background-color: $theme-color;
    color: white;
    padding: 8px 9px;
    &-txt {
      display: none;
    }
  }
}

.highlight-search {
  .search-inp {
    border: 1px solid $theme-color;
    box-shadow: 0px 5px 30px -5px $theme-color;
    background-color: $theme-color;
    color: white;
    padding-right: 140px;

    &::-webkit-input-placeholder {
      /* Chrome/Opera/Safari */
      color: whitesmoke;
    }
    &::-moz-placeholder {
      /* Firefox 19+ */
      color: whitesmoke;
    }
    &:-ms-input-placeholder {
      /* IE 10+ */
      color: whitesmoke;
    }
    &:-moz-placeholder {
      /* Firefox 18- */
      color: whitesmoke;
    }
    &::placeholder {
      color: whitesmoke;
    }
  }

  .inp-btns {
    z-index: 1;
  }

  .search-btn {
    background-color: white;
    color: $theme-color;
    opacity: 1;
    transform: scale(1);
  }

  .clear-btn.show {
    background-color: white;
    color: $theme-color;
    opacity: 1;
    z-index: 1;
    transform: scale(1);
  }
}

.filters-wrpr {
  margin: 0 auto;
  max-width: 500px;

  & > * {
    display: inline-block;
    margin: 0 10px;
  }
}

.filter {
  position: relative;
  animation: fadeIn 1s;

  & > * {
    display: inline-block;
    margin: 5px;
  }
}

.list {
  padding-top: 20px;
  padding-bottom: 100px;

  &.empty {
    animation: fadeIn 1s ease-in-out;
    min-height: 50vh;
    background-image: url('/static/assets/images/no-results.jpg');
    background-position: 50% bottom;
    background-size: cover;
    background-repeat: no-repeat;

    .results-header {
      text-align: center;
      font-size: 20px;
      color: rgba(255, 255, 255, 0.75);
      letter-spacing: 2px;
      margin-top: 15px;
    }
  }
}

.results-header, .results {
  margin: 0 auto;
  width: 100%;
  max-width: 700px;
}

.results-header {
  font-size: 20px;
  color: #6f6f6f;
  padding: 10px 0px;
}

@media (min-width: 576px) {
  .search {
    &-section {
      padding-bottom: 100px;
    }
    &-inp {
      padding: 15px 20px;
      font-size: 20px;
    }
    &-label {
      margin-bottom: 50px;
    }
    &-btn-txt {
      display: inline;
    }
  }

  .inp-btns {
    margin-top: 10px;
    margin-right: 12px;
  }
  .search-btn {
    padding: 12px 15px;
  }
  .clear-btn {
    padding: 12px 13px;
    margin-right: 10px;
  }
  .highlight-search .search-inp {
    padding-right: 165px;
  }

  .list {
    padding-top: 50px;
    &.empty {
      .results-header {
        padding-top: 0px;
        margin-top: -15px;
      }
    }
  }
}
